<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary ">
    <div class="container nav-container d-flex justify-content-between ">
        <a class="navbar-brand flex-grow-1" href="/"><img class = "logo" src="/images/Logo.svg" alt=""></a>      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse ms-5  navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/#about">About</a>
          <a class="nav-link" href="/#courses">Courses</a>
          <a class="nav-link" href="/#reviews">Reviews</a>

        </div>
      </div>
      <div class="loginbar mx-2">
        <% if (currentUser) { %>
          <form  action="/logout" method="post"><button class="button2 " type="submit">Signout</button></form>
          <a class="button1 p-3" href="/userinfo">my courses</a>


        <% } else { %>
          <a class="button1 p-3" href="/login">Login</a>
          <a class="button2 p-3" href="/signup">Signup</a>
          <%   } %>
       
    </div>
    </div>
  </nav>