<% layout('Layouts/Boilerplate') -%>
<section class="row  align-items-center justify-content-center ">
    <div class="col">
        <div class="mt-5 ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/WCQSXApzYzs" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>
    </div>
</section>
<section class="row   justify-content-center course-content">
    <div class=" col mb-2">
        <div class="card shadow p-0">
            <!-- Tabs START -->
            <div class="card-header border-bottom px-4 py-3">
                <ul class="nav nav-pills nav-tabs-line py-0" id="course-pills-tab" role="tablist">
                    <!-- Tab item -->
                    <li class="nav-item me-2 me-sm-4" role="presentation">
                        <button class="nav-link mb-2 mb-md-0 " id="course-pills-tab-0" data-bs-toggle="pill" data-bs-target="#course-pills-0" type="button" role="tab" aria-controls="course-pills-0" aria-selected="true" tabindex="-1">Overview</button>
                    </li>
                    <!-- Tab item -->
                    <li class="nav-item me-2 me-sm-4" role="presentation">
                        <button class="nav-link mb-2 mb-md-0 active " id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="false">Curriculum</button>
                    </li>
                    <!-- Tab item -->
                    <li class="nav-item me-2 me-sm-4" role="presentation">
                        <button class="nav-link mb-2 mb-md-0 " id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-2" type="button" role="tab" aria-controls="course-pills-2" aria-selected="false">Comment</button>
                    </li>

                </ul>
            </div>
            <!-- Tabs END -->

            <!-- Tab contents START -->
            <div class="card-body text-light p-4">
                <div class="tab-content pt-2" id="course-pills-tabContent">
                    <!-- Content START -->
                    <div class="tab-pane fade " id="course-pills-0" role="tabpanel" aria-labelledby="course-pills-tab-0">
                        <!-- Course detail START -->
                        <h5 class="mb-5">Course Description</h5>
                        <p class="mb-5">Our ZNO English preparation program is designed to provide students with the knowledge and skills they need to excel on the test. We focus on all areas of the exam, including reading, writing, speaking, listening, and grammar, and provide students with ample opportunities to practice and improve their skills through interactive activities and practice tests.</p>                            
                        <!-- List content -->
                        <h5 class="my-5">What you'll learn</h5>
                        <ul class="list-group list-group-borderless my-4">
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Strategies for approaching the different sections of the ZNO English test.</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Vocabulary and grammar rules necessary for the ZNO English test.</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Techniques for improving reading comprehension skills, including skimming and scanning</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Skills for writing effective essays, including structure, organization, and supporting arguments.</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Speaking and listening skills necessary for the ZNO English test, including pronunciation, fluency, and comprehension</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Confidence and test-taking strategies to help students achieve their best possible score on the ZNO English test.</li>

                        </ul>
                        <p class="mb-3">As it so contrasted oh estimating instrument. Size like body someone had. Are conduct viewing boy minutes warrant the expense? Tolerably behavior may admit daughters offending her ask own. Praise effect wishes change way and any wanted. Lively use looked latter regard had. Do he it part more last in. </p>
                        <!-- Course detail END -->

                    </div>
                    <!-- Content END -->

                    <!-- Content START -->
                    <div class="tab-pane fade active show" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
                        <!-- Course accordion START -->
                        <div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
                            <!-- Item -->
                            <div class="accordion-item mb-3">
                                <h6 class="accordion-header font-base" id="heading-1">
                                    <button class="accordion-button fw-bold rounded d-sm-flex d-inline-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                        Unit 1 : present
                                        <span class="small ms-0 ms-sm-2">(3 Lectures)</span> 
                                    </button>
                                </h6>
                                <div >
                                    <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionExample2" >
                                        <div class="accordion-body">
                                            <!-- Course lecture -->
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="position-relative d-flex align-items-center">
                                                    <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                        <i class="fas fa-play me-0"></i>
                                                    </a>
                                                    <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">Introduction</span>
                                                </div>
                                                <p class="mb-0">2m 10s</p>
                                            </div>

                                            <hr> <!-- Divider -->

                                            <!-- Course lecture -->
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="position-relative d-flex align-items-center">
                                                    <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                        <i class="fas fa-play me-0"></i>
                                                    </a>
                                                    <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px"> present simple</span>
                                                </div>
                                                <p class="mb-0 ">15m 10s</p>
                                            </div>

                                            <hr> <!-- Divider -->

                                            <!-- Course lecture -->
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="position-relative d-flex align-items-center">
                                                    <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                        <i class="fas fa-play me-0"></i>
                                                    </a>
                                                    <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">present simple vs present continues</span>
                                                </div>
                                                <p class="mb-0">18m 10s</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <!-- Item -->
                            <div class="accordion-item mb-3">
                                <h6 class="accordion-header font-base" id="heading-2">
                                    <button class="accordion-button fw-bold collapsed rounded d-sm-flex d-inline-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                        Unit 2 :
                                        <span class="small ms-0 ms-sm-2">(4 Lectures)</span> 
                                    </button>
                                </h6>
                                <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample2">
                                    <!-- Accordion body START -->
                                    <div class="accordion-body mt-3">
                                        <!-- Course lecture -->
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="position-relative d-flex align-items-center">
                                                <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                    <i class="fas fa-play me-0"></i>
                                                </a>
                                                <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">past simple</span>
                                            </div>
                                            <p class="mb-0">5m 20s</p>
                                        </div>

                                        <hr> <!-- Divider -->

                                        <!-- Course lecture -->
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="position-relative d-flex align-items-center">
                                                <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                    <i class="fas fa-play me-0"></i>
                                                </a>
                                                <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">past continuous</span>
                                            </div>
                                            <p class="mb-0 ">6m 20s</p>
                                        </div>
                                        
                                        <hr> <!-- Divider -->

                                        <!-- Course lecture -->
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="position-relative d-flex align-items-center">
                                                <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                    <i class="fas fa-play me-0"></i>
                                                </a>
                                                <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px">past simple vs past continuous </span>
                                            </div>
                                            <p class="mb-0">11m 30s</p>
                                        </div>
                                        
                                        <hr> <!-- Divider -->

                                        <!-- Course lecture -->
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="position-relative d-flex align-items-center">
                                                <div>
                                                    <a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <i class="fas fa-play me-0"></i>
                                                    </a>
                                                </div>
                                                <div class="row g-sm-0 align-items-center">
                                                    <div class="col-sm-6">
                                                        <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-md-400px">practice</span>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <p class="mb-0 d-inline-block  w-70px w-sm-60px">35m 30s</p>
                                        </div>
                                    </div>
                                    <!-- Accordion body END -->
                                </div>
                            </div>




                        </div>
                        <!-- Course accordion END -->
                    </div>
                    <!-- Content END -->

                    <!-- Content START -->
                    <div class="tab-pane fade " id="course-pills-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
                        <!-- Review START -->
                        <div class="row">
                            <div class="col-12">
                                <h5 class="mb-4">Ask Your Question</h5>

                                <!-- Comment box -->
                                <div class="d-flex mb-4">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-sm flex-shrink-0 me-2">
                                        <a href="#"> <img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt=""> </a>
                                    </div>

                                    <form class="w-100 d-flex">
                                        <textarea class="one form-control pe-4 bg-light" id="autoheighttextarea" rows="1" placeholder="Add a comment..."></textarea>
                                        <button class="btn btn-primary ms-2 mb-0" type="button">Post</button>
                                    </form>
                                </div>

                                <!-- Comment item START -->
                                <div class="border p-2 p-sm-4 rounded-3 mb-4">
                                    <ul class="list-unstyled mb-0">
                                        <li class="comment-item">
                                            <div class="d-flex mb-3">
                                                <!-- Avatar -->
                                                <div class="avatar avatar-sm flex-shrink-0">
                                                    <a href="#"><img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt=""></a>
                                                </div>
                                                <div class="ms-2">
                                                    <!-- Comment by -->
                                                    <div class="bg-light p-3 rounded">
                                                        <div class="d-flex justify-content-center">
                                                            <div class="me-2">
                                                                <h6 class="mb-1 lead fw-bold"> <a href="#!"> Frances Guerrero </a></h6>
                                                                <p class="h6 mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection?</p>
                                                            </div>
                                                            <small>5hr</small>
                                                        </div>
                                                    </div>
                                                    <!-- Comment react -->
                                                    <ul class="nav nav-divider py-2 small">
                                                        <li class="nav-item"> <a class="text-primary-hover" href="#"> Like (3)</a> </li>
                                                        <li class="nav-item"> <a class="text-primary-hover" href="#"> Reply</a> </li>
                                                        <li class="nav-item"> <a class="text-primary-hover" href="#"> View 5 replies</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <!-- Comment item nested START -->
                                            <ul class="list-unstyled ms-4">
                                                <!-- Comment item START -->
                                                <li class="comment-item">
                                                    <div class="d-flex">
                                                        <!-- Avatar -->
                                                        <div class="avatar avatar-xs flex-shrink-0">
                                                            <a href="#"><img class="avatar-img rounded-circle" src="assets/images/avatar/06.jpg" alt=""></a>
                                                        </div>
                                                        <!-- Comment by -->
                                                        <div class="ms-2">
                                                            <div class="bg-light p-3 rounded">
                                                                <div class="d-flex justify-content-center">
                                                                    <div class="me-2">
                                                                        <h6 class="mb-1  lead fw-bold"> <a href="#"> Lori Stevens </a> </h6>
                                                                        <p class=" mb-0">See resolved goodness felicity shy civility domestic had but Drawings offended yet answered Jennings perceive. Domestic had but Drawings offended yet answered Jennings perceive.</p>
                                                                    </div>
                                                                    <small>2hr</small>
                                                                </div>
                                                            </div>
                                                            <!-- Comment react -->
                                                            <ul class="nav nav-divider py-2 small">
                                                                <li class="nav-item"><a class="text-primary-hover" href="#!"> Like (5)</a></li>
                                                                <li class="nav-item"><a class="text-primary-hover" href="#!"> Reply</a>	</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- Comment item END -->
                                            </ul>
                                            <!-- Comment item nested END -->
                                        </li>
                                    </ul>
                                </div>
                                <!-- Comment item END -->

                                <!-- Comment item START -->
                                <div class="border p-2 p-sm-4 rounded-3">
                                    <ul class="list-unstyled mb-0">
                                        <li class="comment-item">
                                            <div class="d-flex">
                                                <!-- Avatar -->
                                                <div class="avatar avatar-sm flex-shrink-0">
                                                    <a href="#"><img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt=""></a>
                                                </div>
                                                <div class="ms-2">
                                                    <!-- Comment by -->
                                                    <div class="bg-light p-3 rounded">
                                                        <div class="d-flex justify-content-center">
                                                            <div class="me-2">
                                                                <h6 class="mb-1 lead fw-bold"> <a href="#!"> Louis Ferguson </a></h6>
                                                                <p class="h6 mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection?</p>
                                                            </div>
                                                            <small>5hr</small>
                                                        </div>
                                                    </div>
                                                    <!-- Comment react -->
                                                    <ul class="nav nav-divider py-2 small">
                                                        <li class="nav-item"> <a class="text-primary-hover" href="#"> Like</a> </li>
                                                        <li class="nav-item"> <a class="text-primary-hover" href="#"> Reply</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Comment item END -->

                    <!-- Content END -->



                </div>
            </div>
            <!-- Tab contents END -->
                    </div>
            </div>
        </div>
    </div>
</section> 
