
<% layout('Layouts/Boilerplate') -%>
<section class="row align-items-center mt-sm-5 vh-100">
    <div class=" col-sm-12 col-md-6  text-center text-md-left ">
        <h1>Prepare for zno</h1>
        <p>The results of our students best describe the level of training we provide Prepare with professional teachers at an affordable price</p>
        <span>
          <form action="/login">
            <button class="button1">Show Courses</button>
          </form>
            <form action="/signup" class="d-inline">
              <button class="button2">Sign up</button>
            </form>
        </span>
    </div>
    <div class=" col-sm-12 col-md-6 ">
        <img class="img-fluid" src="images\Business Plan.svg"  alt="no">
    </div>

        
</section>


<section id="about" >
  <h1 class="text-center my-5">About Us</h1>

  <div class="row align-items-center">
    
    <div class=" col-sm-12 col-md-6  text-center text-md-left "> 
      <img src="images/Group.svg" class = " img-smaller " alt="no">
    </div>
    <div class=" col-sm-12 col-md-6  text-center text-md-left "> 
      <h3 >
        Goal setting
      </h3>
      <p>
        We start working with each student with incoming testing and setting clear goals, which helps us create an effective preparation plan
      </p>
    </div>
  </div>

  <div class="row align-items-center my-5">
    
    <div class=" col-sm-12 col-md-6  text-center "> 
      <h3 >
        Online classes
        </h3>
      <p>
        In online classes, we gradually analyze all the material with students and learn how to solve ZNO problems.
      </p>
    </div>
    <div class=" col-sm-12 col-md-6  text-center text-md-left "> 
      <img src="images/Online.svg" class = " img-smaller " alt="no">
      
    </div>
    
  </div>
  

  <div class="row align-items-center">
   
    <div class=" col-sm-12 col-md-6  text-center text-md-left "> 
      <img src="images/support.jpg" class = " img-smaller " alt="no">
    </div>
    <div class=" col-sm-12 col-md-6  text-center text-md-left "> 
      <h3 >
        24/7 support
      </h3>
      <p>
        We constantly stay in touch with our students and promptly answer all questions
      </p>
    </div>
  </div>
 
  </section>


<section id="courses" class="my-5 ">
    <h1 class="text-center mb-5">Our courses</h1>
    <div class="row row-cols-1 row-cols-lg-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top" src="images/Zno.svg " alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Zno Bootcamp</h5>
              <p class="card-text">The ZNO English Bootcamp is designed to prepare students for the standardized English language test in Ukraine required for admission to higher education institutions. The course provides intensive instruction and practice in grammar, vocabulary, reading, writing, speaking, and listening. Students will also have the opportunity to take practice tests and receive feedback to improve their performance.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top " src="images/english.jpg" alt="Card image cap">

            <div class="card-body">
              <h5 class="card-title">General English BootCamp </h5>
              <p class="card-text">The General English Bootcamp is a comprehensive course for students at all levels of proficiency. It covers reading, writing, speaking, listening, grammar, vocabulary, and conversation skills. Students will interact with native English speakers to practice and improve their language skills in a supportive and immersive environment.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top" src="images/Frame 1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pronuncitiaon Bootcamp</h5>
              <p class="card-text">The Pronunciation Course focuses on improving the sounds and intonation patterns of a foreign language. Students learn phonetic symbols and practice producing sounds accurately in a variety of contexts. This course is suitable for students at all levels of language proficiency and is designed to help them communicate more effectively in the target language.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    
    
</section>


